body {
  --pec-code-background: var(--code-background);
  --pec-code-normal: var(--text-muted);
  --pec-code-comment: var(--text-faint);
  --pec-code-function: var(--color-green);
  --pec-code-important: var(--color-orange);
  --pec-code-keyword: var(--color-pink);
  --pec-code-property: var(--color-cyan);
  --pec-code-punctuation: var(--text-muted);
  --pec-code-string: var(--color-yellow);
  --pec-code-value: var(--color-purple);

  /*--pec-code-border-color: var(--background-modifier-border);*/
  --pec-code-block-border-color: transparent;
  --pec-code-block-border-radius: var(--code-radius);
  --pec-code-block-border-width: 0px; /* this has to have a unit */
  --pec-code-block-spacing: var(--p-spacing);

  --pec-highlight-red: rgba(var(--color-red-rgb), 0.5);
  --pec-highlight-green: rgba(var(--color-green-rgb), 0.5);
  --pec-highlight-neutral: var(--pec-code-normal);
  --pec-highlight-red-background: rgba(var(--color-red-rgb), 0.1);
  --pec-highlight-green-background: rgba(var(--color-green-rgb), 0.1);
  --pec-highlight-neutral-background: rgba(var(--mono-rgb-100), 0.05);

  --pec-terminal-dots-color: var(--text-faint);

  --pec-tooltip-background: var(--background-modifier-message);
  --pec-tooltip-text-color: #fafafa;

  --pec-gutter-border-color: var(--background-modifier-border);
  --pec-gutter-border-width: var(--border-width);
  --pec-gutter-text-color: var(--text-faint);
  --pec-gutter-text-color-highlight: var(--pec-code-normal);

  --pec-active-tab-border-width: 2px;
  --pec-active-tab-border-color: var(--pec-highlight-neutral);
}

.edit-block-button {
  pointer-events: all;

  & > svg {
    pointer-events: all;
  }
}

div.expressive-code code {
  font-variant-ligatures: no-contextual;
}

div.expressive-code {
  margin-inline: 0 !important;
  contain: layout paint;
  content-visibility: auto;
  contain-intrinsic-size: auto 150px;
  will-change: scroll-position;
  transform: translateZ(0);

  & > figure {
    margin-inline: 0 !important;
  }

  & > figure > pre {
    /* Fix for shimmering focus */
    margin: 0 !important;
  }

  & > figure.frame {
    &.has-title > figcaption.header::before {
      pointer-events: all !important;
    }

    & > figcaption.header {
      z-index: unset;
    }

    & > div.copy {
      /* Move the copy button to the bottom right */
      inset-block-end: calc(var(--ec-brdWd) + var(--ec-uiPadInl) / 2);
    }
  }
}

.markdown-preview-view {
  div.expressive-code {
    margin-block: var(--pec-code-block-spacing);
  }
}

/* Hide the frontmatter code block in reading view again */
div.markdown-preview-view
  > div
  > div.mod-header
  + div
  > div.block-language-yaml.pec-hide-in-reading-mode {
  display: none;
}

span.pec-bold {
  font-weight: var(--bold-weight, 600);
}
span.pec-italic {
  font-style: italic;
}
span.pec-ul {
  text-decoration: underline;
}

/* Settings tab  */
.setting-item-control input.pec-custom-theme-folder {
  min-width: 250px;
}

/* Hide empty closing fenced code block lines in Live Preview when active */
.markdown-source-view.mod-cm6
  div.cm-preview-code-block
  + div.HyperMD-codeblock-end {
  background-color: transparent !important;
  border: none !important;
  height: 0px !important;
  min-height: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  box-shadow: none !important;
}

/* Apply list indentation for code blocks in Live Preview */
.markdown-source-view .pec-code-block[data-indent-level] {
  margin-left: calc(var(--pec-indent-level, 0) * var(--list-indent)) !important;
}
